*.csproj
*.config
*.user
Properties/*
obj/*
bin/*

ProductPlatformAnalyzer/Properties/*
ProductPlatformAnalyzer/obj/*
ProductPlatformAnalyzer/bin/*
ProductPlatformAnalyzer/Debug/*

ProductPlatformAnalyzer/Microsoft_Example_Added.v11.suo
ProductPlatformAnalyzer/bin/Debug/Microsoft_Example_Added.exe
ProductPlatformAnalyzer/bin/Debug/Microsoft_Example_Added.pdb
ProductPlatformAnalyzer/bin/Debug/myfile.htm
ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.csproj.FileListAbsolute.txt
ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.csprojResolveAssemblyReference.cache
ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.exe
ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.pdb