*.csproj
*.config
*.user
Properties/*
obj/*
bin/*

ProductPlatformAnalyzer/ProductPlatformAnalyzer/Microsoft_Example_Added.v11.suo
ProductPlatformAnalyzer/ProductPlatformAnalyzer/bin/Debug/Microsoft_Example_Added.exe
ProductPlatformAnalyzer/ProductPlatformAnalyzer/bin/Debug/Microsoft_Example_Added.pdb
ProductPlatformAnalyzer/ProductPlatformAnalyzer/bin/Debug/myfile.htm
ProductPlatformAnalyzer/ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.csproj.FileListAbsolute.txt
ProductPlatformAnalyzer/ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.csprojResolveAssemblyReference.cache
ProductPlatformAnalyzer/ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.exe
ProductPlatformAnalyzer/ProductPlatformAnalyzer/obj/Debug/Microsoft_Example_Added.pdb